/* body {
    /* font-family: 'Poppins', sans-serif; */
    /* background-color: #f4f8fb; */
/* } */ */

.container {
    margin-top: 50px;
}

.navbar {
    padding: 10px;
    background-color:#F5F5F5 ;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 2;
}

.navbar-brand {
    margin-left: 50px;
}

.navbar-nav {
    margin-right: 50px;
}

/* .navbar-collapse {
    /* height: 15px; */
    /* background-color: antiquewhite; */
/* } */ */

.nav-link:hover {
    /* font-weight: bolder; */
    color: black;
    /* font-size: 17px; */
}

.nav-link:active {
    color: black;
}

.nav-link {
    color: grey;
    font-weight: bolder;
}

.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #2b8a3e;
    font-weight: 600;
}

.btn-success, .btn-secondary {
    border: none;
    transition: all 0.3s ease-in-out;
}

.btn-success {
    background-color: #2b8a3e;
}

.btn-success:hover {
    background-color: #24732b;
    transform: scale(1.05);
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}

.form-control {
    border-radius: 8px;
}